@font-face {
  font-family: "iconfont"; /* Project id 2457359 */
  src: url('//at.alicdn.com/t/font_2457359_nr2yaafvdm.woff2?t=1638512107660') format('woff2'),
  url('//at.alicdn.com/t/font_2457359_nr2yaafvdm.woff?t=1638512107660') format('woff'),
  url('//at.alicdn.com/t/font_2457359_nr2yaafvdm.ttf?t=1638512107660') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icongantanhao-quan:before {
  content: "\e70f";
}

.icona-xingzhuang20:before {
  content: "\e656";
}

.icona-xingzhuang21:before {
  content: "\e657";
}

.iconxingming:before {
  content: "\e652";
}

.icontuangou:before {
  content: "\e653";
}

.icondingwei1:before {
  content: "\e654";
}

.iconmiaosha:before {
  content: "\e655";
}

.iconyijieshu:before {
  content: "\e6dc";
}

.icondengdai:before {
  content: "\e816";
}

.iconwenhao:before {
  content: "\e600";
}

.iconpassword:before {
  content: "\e620";
}

.iconjiahao:before {
  content: "\e728";
}

.iconjianhao:before {
  content: "\e643";
}

.iconrili:before {
  content: "\e642";
}

.iconjia:before {
  content: "\e641";
}

.iconcaozuo:before {
  content: "\e640";
}

.iconguanliyuan_huaban1:before {
  content: "\e63f";
}

.iconshangpin_huaban1:before {
  content: "\e63e";
}

.icondingdan:before {
  content: "\e63d";
}

.iconshanghu:before {
  content: "\e63a";
}

.iconOkkaobei:before {
  content: "\e6f2";
}

.icondingwei:before {
  content: "\e639";
}

.icongerenzhongxin:before {
  content: "\e608";
}
